* {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, dimgrey, lightgray);
}

h1 {
    /* Header for each section of content */
    font-size: 45px;
    font-family: serif;
    font-weight: 800; 
    margin-bottom: 20px;
}

p {
    font-size: 28px;
    font-family: 'Times New Roman', Times;
}

div.content {
    border-bottom: 1px solid black;
    padding: 50px;
}

#bottom-menu {
    margin: 20px;
}

#head-title {
    font-style: oblique;
    font-size: 40px;
    font-family: Arial;
}

li.menu-item {
    font-style: italic;
    float: right;
    font-size: 28px;
}

ul {
    list-style-type: none; 
    margin: 10px;
    padding: 10px;
}
  
li a {
    padding: 10px;
    color: white;
}

img.img-border {
    margin: 5px;
    border: 5px outset black;
    padding: 0;
}    

img {
    height: auto;
    width: 250px;
    border: none;
    padding: 5px;
}

figcaption {
    font-size: 18px;
    font-style: italic;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 62, 70);
    color: white;
}

footer {
    padding: 20px;
    background-color: rgb(63, 62, 70);
    color: white;
    font-style: italic;
}

a.external-link {
    padding: 5px;  
    display: inline-block; /* So that padding and border are applied */
}

a.external-link:link {
    color: blue;
}
a.external-link:active {
    color: black;
}
a.external-link:hover {
    color: green;
}
a.external-link:visited {
    color: purple;
}
