* {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: lightgray; */
    background: linear-gradient(180deg, dimgrey, lightgray);
}

h1 {
    font-size: 45px;
    font-family: serif;
    margin-bottom: 20px;
}

h2 {
    font-size: 60px;
    font-family: Arial;
    text-align: left;
}

p {
    font-size: 28px;
    font-family: 'Times New Roman', Times;
}

div.content {
    border-bottom: 1px solid black;
    padding: 50px;
}

#bottom-menu {
    margin: 20px;
}

#head-title {
    font-weight: 100;
    font-style: oblique;
}

li.menu-item {
    color: white;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    width: 200px;
}    

figcaption {
    font-size: 18px;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
  
li {
    float: right;
    font-size: 28px;
}
  
li a {
    padding: 10px;
    color: white;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 62, 70);
    color: white;
}

footer {
    padding: 20px;
    background-color: rgb(63, 62, 70);
    color: white;
    font-style: italic;
}

a.external-link:link {
    color: blue;
}
a.external-link:active {
    color: black;
}
a.external-link:hover {
    color: green;
}
a.external-link:visited {
    color: purple;
}
